DJANGO_SECRET_KEY=troque-por-uma-chave-secreta-forte
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
NIVEL_LOG=INFO
API_KEY=dev-key-default
API_KEY_HEADER=X-API-Key
PORT_WEB=PORT_WEB
PORT_DEBUGPY=PORT_DEBUGPY
URL_BANCO_INSTITUCIONAL=postgres://user:password@host:[port]/institucional
APP_PREFIX=
CACHE_TTL_DRE_SECONDS=XXX
CACHE_TTL_TIPO_ESCOLA_SECONDS=XXX
DB_POOL_SIZE=X
